body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color:#f6f5f5;
    background-image: url('./images/IMG_5262.JPG');
    background-size :cover;
    background-repeat: no-repeat;
}
.heading{
    font-size:35px;
}
.signup{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .form{
    margin:10px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Inter', sans-serif;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    opacity: 0.8;
    width:300px;
    color:black;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  .input{
    margin:10px;
    width:100%;
    font-size:15px;
    border-radius:5px;
    border:1.4px solid gray;
  }
  .submit{
    background-color:rgb(31, 30, 31);
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    font-size:20px;
    border-radius:5px;
    border:1px solid gray;
  }