table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: #ddd; */
    color:rgb(8, 0, 0);
    border-radius: 0px;
    border-width:0px;
}
.table{
    width:80%;
    margin:0 auto;
    /* background-color: #ddd; */
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the RGBA values and opacity as needed */
    padding: 0px; 
}
th, td {
    padding: 8px;
    border: 2px solid #0b0b0b;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    color:#f6f5f5;
    background-image: url('./images/IMG_5262.JPG');
    background-size :cover;
    background-repeat: no-repeat;
    margin:0 0 20px 0;
}
.welcome{
    font-size:45px;
    padding: bottom 20vh;
    margin-top:100px;
}
.Navbar{
    background-color:rgb(246, 243, 243,0.08);
    margin:0 0 20px 0;
    box-shadow: 1px 1px 50px 3px #adacac;
}
.welcome1{
    font-size:45px;
    padding: 0 40px;
    color:white;
    margin-top:20px;
    margin-bottom:20px;
}
.logout{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:10px;
    padding:5px 15px;
    margin-right: 10px;
}
.submit{
    background-color: rgba(255, 255, 255, 0.9);
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:rgb(11, 11, 11);
    font-size:25px;
    border-radius:5px;
    border:1px solid gray;
  }
.heading{
    text-align: center;
    font-size:45px;
    padding: bottom 20vh;
    margin-top:100px;
}
/* th {
    background-color: #f2f2f2;
} */

/* tr:nth-child(even) {
    background-color: #f2f2f2; */
/* } */

tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: rgb(250, 25, 25);
}

a:hover {
    text-decoration: underline;
}
nav {
    display:flex;
    align-items:center;
    color:rgb(17, 168, 243);
}
nav >img{
    align-items:end;
    height:30px;
    padding:0;
}
nav >h1{
    font-size:3.5em;
    margin-right:auto;
}
nav >a{
    color:black;
    text-decoration: none;
    align-items:end;
    font-size:20px;
    font-weight:bold;
}
.notification{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:10px;
    margin: 20px;
    padding:5px 15px;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; /* Adjust alignment as needed */
}
.flip-card {
    background-color: transparent;
    margin:10px;
    width: 250px;
    height: 300px;
    border-radius:10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    margin:10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    height:300px;
    width:250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f9f7f7;
    border-radius:10px;
    border-width:5px;
    border-color:red;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    height:300px;
    width:250px;
    background-color: rgb(244, 244, 245);
    color: rgb(10, 10, 10);
    border-radius:10px;
    transform: rotateY(180deg);
  }
  .events{
    display:flex;
    margin:10px auto;
    width:80%;
  }
