<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='studentdashboard.css') }}">
</head>
<body>
  <nav class="Navbar">
    <h1 class="welcome1">Dashboard</h1>
    <a href="/notifications" class="notification">Notifications</a>

    <a href="/logout" class="logout">Logout</a>
    <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
</nav>
  <h1 class="welcome">Welcome Back, Admin</h1>
  <div class="signup">
    

    <!-- Add button for viewing participants -->

  <form action="/allow_organizers" method="get">
    <button type="submit" class="btn">Pending requests from Organizers</button>
  </form>
  <form action="/view_organizers" method="get">
    <button type="submit" class="btn">View Organizers</button>
  </form>
    <form action="/view_participants" method="get">
      <button type="submit" class="btn">View Participants</button>
    </form>

    <form action="/view_students" method="get">
      <button type="submit" class="btn">View Students</button>
    </form>
    <form action="/admin_view_events" method="get">
      <button type="submit" class="btn">View Events</button>
    </form>
    <form action="/delete_users" method="get">
      <button type="submit" class="btn">Delete Users</button>
    </form>
  </div>
</body>
</html>
