<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='studentdashboard.css') }}">
</head>
<body>
  <nav className="Navbar">
    <h1 ></h1>
    <a href="/notifications" class="notification">Notifications</a>

<a href="/logout" class="logout">Logout</a>
    <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
</nav>
  <h2 class="welcome">Admin Dashboard</h2>
  <div class="signup">
    <form action="/allow_organizers" method="get">
      <button type="submit" class="btn">Pending requests from Organizers</button>
    </form>

    <form action="/delete_users" method="get">
      <button type="submit" class="btn">Delete Users</button>
    </form>
  </div>
  

</body>
</html>
