<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Event</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
  <nav className="Navbar">
    <h1 ></h1>
    <a href="/dashboard" class="notification">Dashboard</a>
    <a href="/notifications" class="notification">Notifications</a>

    <a href="/logout" class="logout">Logout</a>
    <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
</nav>

<div class="signup1">
  <h2>Create Event</h2>
  <form action="/create_event" method="post" class="form">
    <label for="name">Event Name</label>
    <input type="text" id="name" name="name" class="input" required>

    <label for="type">Event Type</label>
    <input type="text" id="type" name="type" class="input" required>

    <label for="date">Event Date</label>
    <input type="date" id="date" name="date" class="input" required>

    <label for="venue">Event Venue</label>
    <select id="venue" name="venue" class="input" >
      {% for venue in venues %}
      <option value="{{ venue.id }}">{{ venue.name }} (Capacity: {{ venue.capacity }})</option>
      {% endfor %}
    </select>

    <label for="prize">Prize Amount</label>
    <input type="number" id="prize" name="prize" class="input" required>

    <label for="description">Event Description</label>
    <textarea id="description" name="description" class="input" required></textarea>

    <input type="submit" value="Create Event" class="submit">
  </form>
</div>


</body>
</html>
