body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    color:#f6f5f5;
    background-image: url('/DBMS_assignment-4/templates/IMG_5262.JPG');
    background-size :cover;
    background-repeat: no-repeat;
}
.welcome{
    padding:10vh;
    padding: bottom 20vh;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 22px;
    font-weight:900;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    border: 2px  #333;
    border-radius: 10px;
    background-color:rgb(246, 243, 243);
    color: #333;
}
.btn:hover {
    background-color: #ccc;
}