<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Cultural Festival</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexstyles.css') }}">
</head>
<body>
    <h1 class="welcome">Welcome to the University Cultural Festival</h1>
    <div>
        <div class="signup">
            <a href="/student_signup" class="btn">Student Signup</a>
        </div>
        <div class="signup">
            <a href="/organizer_signup" class="btn">Organizer Signup</a>
        </div>
        <div class="signup">
            <a href="/participant_signup" class="btn">Participant Signup</a>
        </div>
        <div class="signup">
            <a href="/login" class="btn">Login</a>
            
        </div>
    </div>
</body>
</html>
