<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Dashboard</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='viewevent.css') }}">
<!--     
    <link rel='stylesheet' type='text/css' href='viewevent.css'> -->
</head>
<body>
<nav className="Navbar">
    <h1 ></h1>
    <a href="" class="notification">Notifications</a>

    <a href="" class="logout">Logout</a>
    <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
</nav>
    <h1 class="heading">Organizer Dashboard</h1>
    <div class="table">
        <table border="1">
            <tr>
                <th>Event Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            {% for event in events %} 
             <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date }}</td>
                <td><a href="/event/{{ event.id }}/details">View Details</a></td>
            </tr>
            {% endfor %}
            <!-- <tr>
                <td>pronite</td>
                <td>concert</td>
                <td>02-03-2024</td>
                <td><a href="">View Details</a></td>
            </tr>
            <tr>
                <td>pronite</td>
                <td>concert</td>
                <td>02-03-2024</td>
                <td><a href="">View Details</a></td>
            </tr> -->
        </table>
    </div>
    
</body>
</html>
