<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Events</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='viewevent.css') }}">
    <!-- CSS styles omitted for brevity -->
</head>
<body>
    <nav class="Navbar">
        <h1 class="welcome1">Events</h1>
        <a href="/dashboard" class="notification">Dashboard</a>
        <a href="/notifications" class="notification">Notifications</a>
    
        <a href="/logout" class="logout">Logout</a>
        <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
    </nav>
    <h1 class="heading">Register in Events</h1>
    <form id="event-form" action="/participant_register_events" method="POST">
        <div class="events">
            {% for event in events %}
            <div class="flip-card1">
                <div class="flip-card-inner">
                
                <div class="flip-card-back1">
                    <h4 class="eventname">{{ event.name }}</h4>
                    <p>Type-{{ event.type }}</p>
                    <p>Date-{{ event.date }}</p>
                    <p>Venue-{{ event.venue }}</p>
                    <p>Prize-{{ event.prize }}</p>
                    <p>Register as Participant-<input type="checkbox" name="participant" value="{{ event.id }}"></p>
                </div>
                </div>
            </div>
          {% endfor %}
        </div>
        <input type="submit" value="Submit" class="submit">
    </form>
    
</body>
</html>
