<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Events</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='viewevent.css') }}">
</head>
<body>
    <nav class="Navbar">
        <h1 class="welcome1">Events</h1>
        <a href="/dashboard" class="notification">Dashboard</a>
        <a href="/notifications" class="notification">Notifications</a>
    
        <a href="/logout" class="logout">Logout</a>
        <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
    </nav>
    <h1 class="heading">Registered as Participant</h1>
    
    <div class="events">
        {% for event in participant_events %}
        <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>{{ event.name }}</h3>
            </div>
            <div class="flip-card-back">
                <h3>{{ event.name }}</h3>
                <p>Type-{{ event.type }}</p>
                <p>Date-{{ event.date }}</p>
                <p>Venue-{{ event.venue }}</p>
                <p>Prize-{{ event.prize }}</p>
            </div>
            </div>
        </div>
      {% endfor %}
    </div>

</body>
</html>
