<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Participant Signup</title>
<link rel="stylesheet" typr="text/css" href="{{ url_for('static', filename='psignup.css') }}">
<script>
    function validateForm() {
        var phoneRegex = /^\d{10}$/; // Regular expression for 10-digit phone number
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Regular expression for email address format

        var phone = document.getElementById("phone").value;
        var email = document.getElementById("email").value;

        if (!phone.match(phoneRegex)) {
            alert("Please enter a valid 10-digit phone number.");
            return false;
        }

        if (!email.match(emailRegex)) {
            alert("Please enter a valid email address.");
            return false;
        }

        return true;
    }
</script>
</head>
<body>
<div class="signup">
  
  <h2 class="heading">Participant Signup</h2>

  <form action="/participant_signup" method="post" class="form" onsubmit="return validateForm();">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"  class="input" required>

    <label for="college_name">College Name:</label>
    <select id="college_name" name="college_name" class="input"  required>
      {% for college in college_names %}
      <option value="{{ college }}">{{ college }}</option>
      {% endfor %}
    </select>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="input"  required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"  class="input" required>

    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone" class="input" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" class="input" required>

    <label for="food">Food:</label>
    <select id="food" name="food" class="input" >
      <option value="">None</option>
      {% for food in food_options %}
      <option value="{{ food.food_id }}">{{ food.food_desc }} - ${{ food.price }}</option>
      {% endfor %}
    </select>

    <label for="accommodation">Accommodation:</label>
    <select id="accommodation" name="accommodation" class="input" >
      <option value="">None</option>
      {% for accommodation in accommodation_options %}
      <option value="{{ accommodation.accommodation_id }}">{{ accommodation.name }} - ${{ accommodation.price_per_day }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="SignUp" class="submit">
  </form>

</div>
</body>
</html>
