<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Winners</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alloworganizer.css') }}">
</head>
<body>

    <nav class="Navbar">
        <h1 class="welcome1">Events</h1>
        <a href="/dashboard" class="notification">Dashboard</a>
        <a href="/notifications" class="notification">Notifications</a>
    
        <a href="/logout" class="logout">Logout</a>
        <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
    </nav>

    <h1 class="heading">Event Winners</h1>
    <div class="table">
        <table border="1">
            <tr>
                <th>Event Name</th>
                <th>Current Winner</th>
                <th>Winner's Username</th>
            </tr>
            {% for event_name, winner_username, winner_name in events_with_winners %}
            <tr>
                <td>{{ event_name }}</td>
                <td>{{ winner_name }}</td>
                <td>{{ winner_username }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</body>
</html>
