<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
    <div class="signup">
        <h1>Student Signup</h1>
        <form action="/student_signup" method="POST" class="form">
            <label for="roll_number">Roll Number:</label>
            <input type="text" id="roll_number" name="roll_number" class="input" required>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="input"  required>

            <label for="department">Department:</label>
            <input type="text" id="department" name="department"  class="input" required>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="input"  required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input"  required>

            <input type="submit" value="Submit" class="submit">
        </form> 
    </div>
    
</body>
</html>
