<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View Organizers</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alloworganizer.css') }}">
</head>
<body>
  <nav class="Navbar">
    <h1 class="welcome1">Organizer</h1>
    <a href="/dashboard" class="notification">Dashboard</a>
    <a href="/notifications" class="notification">Notifications</a>

    <a href="/logout" class="logout">Logout</a>
    <!-- <img src="../static/images/logoutlogo.png" class="App-logo" alt="logo" /> -->
</nav>
  <h2 class="welcome">Organizers List</h2>
  <div class="table">
    <table class="organizers-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for organizer in organizers %}
        <tr>
          <td>{{ organizer[1] }}</td>
          <td>{{ organizer[0] }}</td>
          <td><a href="/organizer_details/{{ organizer[1] }}" class="details-btn"> View Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</body>
</html>
